<!DOCTYPE html>
<html>
    <head><title>Templates</title></head>

    <body>
        <div id="snipcart-templates">
            <checkout>
                <!-- The template must have a single root element -->
                <div class="root">
                    <h1 class="mensaje">¿Que metodo de pago quiere utilizar?</h1>
                    <a class="btn btn-secondary visa" href="http://localhost/livestream/public/pedidos/create/" id="comprar-link">Visa</a>
                    <a class="btn btn-secondary paypal" href="http://localhost/livestream/public/pedidos/create/" id="comprar-link">Paypal</a>
                </div>
            </checkout>
        </div>       
    </body>
</html>