<!DOCTYPE html>
<html>
    <head><title>Templates</title></head>

    <body>
        <div id="snipcart-templates">
            <checkout>
                <!-- The template must have a single root element -->
                <div class="root">
                    <h2>Custom Item Line</h2>
                    <div>This is my overridden item-line template.</div>
                    <a href="http://localhost/livestream/public/pedidos/create/" id="comprar-link">Comprar</a>
                </div>
            </checkout>
        </div>       
    </body>
</html>